<div>
    <iframe style="width: 0px; height: 0px; display:block; visibility:hidden;" ng-src="{{downloadMp3Url}}"> </iframe>
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon2">Song</span>
      <input type="text" class="form-control" placeholder="Insert the song" aria-describedby="basic-addon2" ng-model="songSearch" ng-change="searchSong()" tabindex="{{tabIndex}}">
    </div>
    <div class="error-messages" ng-show="errorDownload > 0">
      <span ng-show="errorDownload == 1" class="error-not-found">Sorry, video not found!</span>
      <span ng-show="errorDownload == 2" class="error-not-found">Sorry, video is too long!</span>
      <span ng-show="externalLink" class="error-link">Try to download your song <a ng-href="{{externalLink}}" target="_blank">here</a>!</span>
    </div>
    <div class="input-group center-block">
      <button href="#" class='btn btn-default btn-remove' ng-click="removeSong()" tabindex="-1">Remove</button>
      <button href="#" class='btn btn-default btn-download' ng-click="downloadSong()" ng-show="selectedSong" tabindex="-1">Download MP3</button>
      <button href="#" class='btn btn-default btn-suggested' ng-click="toggleShowSuggestions()" ng-show="canShowSuggestionToggle()" tabindex="-1">{{showSuggestions ? 'Hide suggested' : 'Show suggested'}}</button>
    </div>
    <div class="suggested-songs-list">
      <span ng-hide="$index > 0 && !showSuggestions" ng-click="selectSong(song)" ng-repeat="song in suggestedSongs|orderSongs:selectedSong" ng-class="{'selected' : $index == 0}" class="suggested-song" tabindex="-1">{{song.title}}</span>
    </div>
</div>