{% load staticfiles %}

<!DOCTYPE html>
<html lang="en" ng-app="yoump3r">
<head>
    <script src="{% static "js/bundle.min.js" %}"></script>
    <link rel="stylesheet" href="{% static "css/bundle.min.css" %}" />
    <title>New playlist</title>
</head>

<body>
    <div ng-controller="CreatePlaylistController">
        <song-row on-delete-song="deleteSong()" ng-model="song" ng-repeat="song in songs">
        </song-row>
        <button ng-click="addNewSong()" type="submit" class="btn btn-default">+</button>
    </div>

</body>
</html>